@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
}
body {
  height: 100%;
  background: rgb(81, 125, 254);
  background: linear-gradient(
    87deg,
    rgba(81, 125, 254, 1) 0%,
    rgba(91, 54, 149, 1) 100%
  );
}
